*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 70%;
    height: 70vh;
    border:1px solid rgba(0, 0, 0, 0.19);
    background-color: aliceblue;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.585);
}

.container form{
    background-color: rgb(163, 195, 224);
    height: 70px;
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}

form div {
    width: 500px;
    height: 100%;
    background: rgba(153, 205, 50, 0.312);
    position: relative;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.363);
    border-right: 1px solid rgba(0, 0, 0, 0.363);
}

form div label{
    position: absolute;
    left: 1em;
}

form div input{
    position: absolute;
    height: 50px;
    width: 230px;
    right: 1.0em;
    border: none;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 1.2em;
    font-weight: 200;
    transition: 0.2s;
    padding-right: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}

form div input:focus{
    outline: none;
    width: 340px;
}

form div button{
    position: absolute;
    right: 1em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 0.8em;
    transition: 0.2s;
    cursor: pointer;
    ;}

form div button:hover{
    background-color: rgb(174, 136, 120);
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}

.bottom{
    height: 100%;
    width: 100%;
    background-color: burlywood;
    position: relative;
}

.bottom .right{
    position: absolute;
    right: 0;
    background-color: #fff;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2em;
}

.bottom .right div{
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    display: flex;
    background-color: rgba(21, 62, 63, 0.217);
    justify-content: space-between;
    border-bottom: 1px solid white;
    color: #271717cb;
}


.bottom .left img{
    width: 200px;
}